/*Formata Fontes
 **************************************************************************/

@font-face {
    src: url("../_fontes/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}

@font-face {
    src: url("../_fontes/computer-font.ttf");
    font-family: "Computer-font";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* li
 **************************************************************************/
li {
    list-style: none;
}

/* a
 **************************************************************************/
a {
    text-decoration: none;
}

/*p
 **************************************************************************/
p {
    padding: 5px;
}

/*Header
 **************************************************************************/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    transition: all 0.4s ease-out;
}

.max-header {
    background-color: #2574a9;
    height: 80px;
}

.main-header {
    background-color: #c5eff7;
    height: 60px;
}

/*Conteiner
 **************************************************************************/
.conteiner {
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "lgo ... nav";
    grid-auto-columns: auto 1fr auto;
    align-content: center;
}

/* logo
 **************************************************************************/
.logo {
    grid-area: lgo;
    position: absolute;
    left: 0px;
    padding-left: 5px;
    /* Alinha os itens flex à esquerda */
}

.max-logo svg {
    height: 75px;
    width: 75px;
    fill: #c5eff7
}

.main-logo svg {
    height: 50px;
    width: 50px;
    fill: #2574a9
}

/* letring
 **************************************************************************/
svg#lettring {
    width: 290px;
}

/* Barra/Menu de navegação
 **************************************************************************/

.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
}

.nav-bar a {
    position: relative;
    font-family: "Taxi Driver";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.max-nav a {
    font-size: 1em;
    color: #c5eff7
}



.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}



.nav-bar a::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}

.nav-bar a:hover::before {
    transform: scaleX(1);
}

.nav-bar a:hover::after {
    transform: scaleX(1);
}

.nav-bar a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}


/* Ghost section
 **************************************************************************/
.ghost {
    width: 100%;
    height: 100px;
    background-color: #cae1f1;
}

/* MAIN section
 **************************************************************************/

main {
    font-size: 20px;
}

.main-nav a {
    font-size: 0.875em;
    color: #2574a9
}

main section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Computer-font";
    font-size: 2em;
    color: #2574a9;
}

main section span {
    text-align: center;
}

main section h1 {
    font-size: 1.25em;
    text-align: center;
}

main section p {
    font-size: 0.5em;
    text-align: center;
    font-family: "Taxi Driver";
}

/* Contacto section
 **************************************************************************/
section#contacto a:hover {
    text-decoration: underline;
}

main section:nth-child(odd) {
    /*Impar*/
    height: 100vh;
    padding-top: 100px;
    background-color: #cae1f1;
}

main section:nth-child(even) {
    /*Par*/
    height: 100vh;
    padding-top: 100px;
    background-color: #b7d5eb;
}

/*Formata footer
 rodape**************************************************************************/

footer#rodape {
    /*limpa configuração de separação entre corpo e lateral*/
    clear: both;
    background-color: #cae1f1;
    padding: 10px;
}

/*Formata footer
 rodape contendo p**************************************************************************/

footer#rodape p,
footer#rodape a {
    color: #2574a9;
    text-align: center;
    font-family: "Computer-font";
    color: #2574a9;
    text-decoration: none;
}

footer#rodape a:hover {
    text-decoration: underline;
}

/* MINIMIZAR
 **************************************************************************/
@media (max-width: 768px) {

    .logo {
        grid-area: lgo;
        position: relative;
        margin-top: 0;
        margin-left: 0;
        /* Alinha os itens flex à esquerda */
    }

    .max-logo svg {
        height: 55px;
        width: 55px;
        fill: #c5eff7
    }

    .main-logo svg {
        height: 25px;
        width: 25px;
        fill: #2574a9
    }


    .conteiner {
        position: relative;
        display: grid;
        grid-template-areas: "lgo ... mnu";
        margin: 0 auto;
        grid-auto-columns: auto 1fr auto;
    }


    section {
        font-size: 1em;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
        cursor: pointer;
    }

    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }

    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c5eff7;
        transition: all 0.4s ease-out;
    }

    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c5eff7;
        transition: all 0.4s ease-out;
    }

    .max-hamburger,
    .max-hamburger::before,
    .max-hamburger::after {
        background-color: #c5eff7;
    }

    .main-hamburger,
    .main-hamburger::before,
    .main-hamburger::after {
        background-color: #2574a9;
    }

    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }

    .close-btn::before,
    .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2980b9;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }

    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }

    .main-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }

    .menu-opened {
        transform: translateX(0);
    }

    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }

    .nav-bar li {
        text-align: center;
    }

    .main-nav a {
        font-size: 1em;
        color: #c5eff7
    }
}