/*Formata Fontes
 **************************************************************************/

@font-face {
    src: url("../_fontes/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}

@font-face {
    src: url("../_fontes/computer-font.ttf");
    font-family: "Computer-font";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* li
 **************************************************************************/
li {
    list-style: none;

}

/* Estilo ao passar o mouse (hover) */
li:hover {
    font-size: 1.1em;
    /* Aumenta a fonte em 10% (ajuste o valor conforme necessário) */
    /* Opcional: Um pequeno aumento de escala para um efeito mais dinâmico */
    transform: scale(1.02);
}

/* a
 **************************************************************************/
a {
    text-decoration: none;
}

/*p
 **************************************************************************/
p {
    padding: 5px;
}

/*Header
 **************************************************************************/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    transition: all 0.4s ease-out;
}

.max-header {
    background-color: #2574a9;
    height: 80px;
}

.main-header {
    background-color: #c5eff7;
    height: 60px;
}


/*Conteiner
 **************************************************************************/
.conteiner {
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: "lgo ... nav";
    grid-auto-columns: auto 1fr auto;
    align-content: center;
}

/* logo
 **************************************************************************/
.logo {
    grid-area: lgo;
    position: absolute;
    left: 0px;
    padding-left: 5px;
    /* Alinha os itens flex à esquerda */
}

.max-logo svg {
    height: 75px;
    width: 75px;
    fill: #c5eff7
}

.main-logo svg {
    height: 50px;
    width: 50px;
    fill: #2574a9
}

/* letring
 **************************************************************************/
svg#lettring {
    width: 290px;
}

/* Barra/Menu de navegação
 **************************************************************************/

/* Estilo para a barra de navegação principal */
.nav-bar {
    grid-area: nav;
    /* Define esta área dentro de um layout de grid, nomeando-a como 'nav' */
    display: grid;
    /* Ativa o layout de grid para os itens dentro da nav-bar */
    align-content: center;
    /* Alinha o conteúdo da grid verticalmente ao centro */
}

/* Estilo para os links dentro da barra de navegação */
.nav-bar a {
    position: relative;
    /* Define a posição relativa para permitir posicionamento absoluto de pseudo-elementos */
    font-family: "Taxi Driver";
    /* Define a fonte para os links */
    text-transform: uppercase;
    /* Transforma o texto dos links para maiúsculas */
    transition: all 0.4s ease-out;
    /* Adiciona uma transição suave para todas as propriedades em 0.4 segundos */
}

/* Estilo para links dentro de uma nav-bar com a classe 'max-nav' */
.max-nav a {
    font-size: 1em;
    /* Define o tamanho da fonte como 1em (tamanho padrão) */
    color: #c5eff7;
    /* Define a cor do texto dos links */
}

/* Estilo para a lista não ordenada dentro da barra de navegação */
.nav-bar ul {
    display: grid;
    /* Ativa o layout de grid para os itens da lista */
    grid-auto-flow: column;
    /* Organiza os itens da grid em colunas (horizontalmente) */
    grid-gap: 20px;
    /* Define um espaçamento de 20px entre os itens da grid */
}

/* Estilo para o pseudo-elemento ::before dos links da nav-bar */
.nav-bar a::before {
    content: "";
    /* Conteúdo vazio para exibir o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto em relação ao link pai */
    top: -10px;
    /* Posição 10px acima do topo do link */
    left: 0;
    /* Alinhado à esquerda */
    width: 100%;
    /* Ocupa 100% da largura do link */
    height: 2px;
    /* Altura de 2px (cria uma linha) */
    background-color: currentColor;
    /* A cor de fundo é a mesma cor do texto do link */
    transform-origin: left;
    /* Define o ponto de origem da transformação para a esquerda */
    transform: scaleX(0);
    /* Inicialmente, a linha está invisível (escala horizontal 0) */
    transition: all 0.2s ease-out;
    /* Adiciona uma transição suave para todas as propriedades em 0.2 segundos */
}

/* Estilo para o pseudo-elemento ::before quando o mouse passa sobre o link */
.nav-bar a:hover::before {
    transform: scaleX(1);
    /* Faz a linha aparecer (escala horizontal 1) */
}

/* Estilo para o pseudo-elemento ::after quando o mouse passa sobre o link */
.nav-bar a:hover::after {
    transform: scaleX(1);
    /* Faz a linha aparecer (escala horizontal 1) */
}

/* Estilo para o pseudo-elemento ::after dos links da nav-bar */
.nav-bar a::after {
    content: "";
    /* Conteúdo vazio para exibir o pseudo-elemento */
    position: absolute;
    /* Posicionamento absoluto em relação ao link pai */
    bottom: -10px;
    /* Posição 10px abaixo da parte inferior do link */
    left: 0;
    /* Alinhado à esquerda */
    width: 100%;
    /* Ocupa 100% da largura do link */
    height: 2px;
    /* Altura de 2px (cria uma linha) */
    background-color: currentColor;
    /* A cor de fundo é a mesma cor do texto do link */
    transform-origin: right;
    /* Define o ponto de origem da transformação para a direita */
    transform: scaleX(0);
    /* Inicialmente, a linha está invisível (escala horizontal 0) */
    transition: all 0.2s ease-out;
    /* Adiciona uma transição suave para todas as propriedades em 0.2 segundos */
}


/* Ghost section
 **************************************************************************/
.ghost {
    width: 100%;
    height: 100px;
    background-color: #cae1f1;
}

/* MAIN section
 **************************************************************************/

main {
    font-size: 20px;
}

.main-nav a {
    font-size: 0.875em;
    color: #2574a9
}

main section {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Computer-font";
    font-size: 2em;
    color: #2574a9;
}

main section span {
    text-align: center;
}

main section h1 {
    font-size: 1.25em;
    text-align: center;
}

main section p {
    font-size: 0.5em;
    text-align: center;
    font-family: "Taxi Driver";
}

/* Index section
 **************************************************************************/
section#index a:hover {

    text-decoration: underline;
}

/* BD section
 **************************************************************************/
section#db ul {
    padding: 25px;
}

section#db a {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Computer-font";
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

section#db a:visited {
    color: #2574a9;
}

/* portfolio section
 **************************************************************************/
section#portofolio p {
    font-family: "Taxi Driver";
    font-size: 0.5em;
    color: darkslategrey;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

/* sobre section
 **************************************************************************/
section#sobre p {
    font-family: "Taxi Driver";
    font-size: 0.5em;
    color: darkslategrey;
    padding-left: 100px;
    padding-right: 100px;
}

/* Contacto section
 **************************************************************************/
section#contacto p#descricao-contacto {
    font-family: "Taxi Driver";
    font-size: 1em;
    color: darkslategrey;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

section#contacto a {
    font-family: "Taxi Driver";
    font-size: 1em;
    color: #2574a9;
    padding-bottom: 100px;
}

section#contacto a:hover {
    text-decoration: underline;
}


main section:nth-child(odd) {
    /*Impar*/
    height: 100vh;
    padding-top: 10px;
    background-color: #cae1f1;
}

main section:nth-child(even) {
    /*Par*/
    height: 100vh;
    padding-top: 10px;
    background-color: #b7d5eb;
}

/*Formata footer
 rodape**************************************************************************/

footer#rodape {
    /*limpa configuração de separação entre corpo e lateral*/
    clear: both;
    background-color: #cae1f1;
    text-align: right;
    padding: 10px;
}

/*Formata footer
 rodape contendo p**************************************************************************/
footer#rodape a {
    font-family: "Computer-font";
    color: #2574a9;
    text-decoration: none;
}

/* MINIMIZAR
 **************************************************************************/
@media (max-width: 500px) {

    .main-content {
        display: flex;
        flex-direction: column;
        height: auto;
        /* ← importante */
    }

    section {
        display: block;
        width: 100%;
        clear: both;
        padding: 10px;
        position: relative;
        /* ou remova position:absolute se existir */
        float: none;
    }

    .logo {
        grid-area: lgo;
        position: relative;
        margin-top: 0;
        margin-left: 0;
        /* Alinha os itens flex à esquerda */
    }

    .max-logo svg {
        height: 55px;
        width: 55px;
        fill: #c5eff7
    }

    .main-logo svg {
        height: 35px;
        width: 35px;
        fill: #2574a9
    }


    .conteiner {
        position: relative;
        display: grid;
        grid-template-areas: "lgo ... mnu";
        margin: 0 auto;
        grid-auto-columns: auto 1fr auto;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
        cursor: pointer;
    }

    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }

    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c5eff7;
        transition: all 0.4s ease-out;
    }

    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #c5eff7;
        transition: all 0.4s ease-out;
    }

    .max-hamburger,
    .max-hamburger::before,
    .max-hamburger::after {
        background-color: #c5eff7;
    }

    .main-hamburger,
    .main-hamburger::before,
    .main-hamburger::after {
        background-color: #2574a9;
    }

    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }

    .close-btn::before,
    .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2980b9;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }

    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }

    .main-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }

    .menu-opened {
        transform: translateX(0);
    }

    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }

    .nav-bar li {
        text-align: center;
    }

    .main-nav a {
        font-size: 1em;
        color: #c5eff7
    }


    section {
        font-size: 0.4em;
    }


    /* portfolio section
 **************************************************************************/
    section#portofolio p {
        font-family: "Taxi Driver";
        font-size: 0.35em;
        color: darkslategrey;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }



    /* sobre section
 **************************************************************************/
    section#sobre p {
        font-family: "Taxi Driver";
        font-size: 0.35em;
        color: darkslategrey;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* Contacto section
 **************************************************************************/
    section#contacto p#descricao-contacto {
        font-family: "Taxi Driver";
        font-size: 0.5em;
        color: darkslategrey;
        padding-left: 40px;
        padding-right: 40px;
    }
}