.tree * {
    list-style-type: none;
}

ul.tree,
.tree span {
    cursor: pointer;
    padding-top: 10px;
}
.tree li {
    display: grid;
    align-items: center; /* Centraliza os itens flex (o link) verticalmente */
    justify-content: center; /* Se você também quiser centralizar horizontalmente */
    /* Outros estilos do li */
}


.tree li h1 {
    position: relative;
    /* Necessário para posicionar os ::before e ::after */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    color: #2574a9;    
    font-size: 1em;

}

.tree li a {
    color: #2574a9;
    font-family: "Taxi Driver";
    font-size: 0.4em;
    line-height: 1.5;
    padding-top: 0;
    /* Outros estilos do link */
}